@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
  background-color: #ffffff;
  margin: 30px 150px 30px 150px;
  padding: 20px 20px 20px;
}

/* 탈퇴 안내 */
.announce {
  font-size: 35px;
}

.warning {
  font :size 18px;
  color: rgb(70, 70, 70);
}

.warning2 {
  margin-top: 50px;
  font-size: 18px;
}

.c-warning {
  margin-top: 50px;
  font-size: 18px;
  color: red;
}

.click button{
  width: 60px;
  font-size: 15px;
  margin-top: 50px;
  padding: 3.5px;
  margin: auto;
  display: block;
  background-color: rgb(255, 168, 168);
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: all .4s;
  
}