@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
  background-color: #ffffff;
  margin: 30px 150px 30px 150px;
  padding: 20px 20px 20px;
}

.pass {
  margin: 30px 150px 30px 150px;
  padding: 20px 20px 20px;
}

.my-pass {
  font-size: 35px;
  padding-bottom: 20px;
}

.user-name {
  font-size: 18px;
  padding-left: 10px;
}

/* 테이블 */
.row {
  padding: 100px;
  text-align: center;
}